table th, table td {
    vertical-align: middle !important;
    padding: .5em .1em !important;
}

table th, table td {
    vertical-align: middle !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
